@import url('https://fonts.cdnfonts.com/css/calculator?styles=116340');                

* {
    font-family: 'Calculator', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
}

.calculator {
    background-color: #6d6d6d;
    border-radius: 40px;
    color: white;
    width: 500px;
    height: 800px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 285px;
}

.op {
    display: flex;
    flex-direction: column;
    width: 100px
}

#plus:hover {
    background-color: #68dbd2;
    transition: all 0.2s;
}

#minus:hover {
    background-color: #68dbd2;
    transition: all 0.2s;
}

#divide:hover {
    background-color: #68dbd2;
    transition: all 0.2s;
}

#multiply:hover {
    background-color: #68dbd2;
    transition: all 0.2s;
}

.caluclate:hover {
    background-color: #98e9e2;
    transition: all 0.2s;  
}

button {
    width: 85px;
    height: 85px;
    font-size: xx-large;
    border: 2px solid #315a72;
    border-radius: 100%;
    background-color: #3b97cc;
    margin: 5px;
}

button:hover {
    background-color: #77b5d8;
    transition: all 0.2s;
}

#display {
    text-align: end;
    padding-right: 12px;
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
    background-color: #252525;
    border: solid 2px #333333;
    border-radius: 20px;
}

#previousAnswer {
    font-size: 35px;
}

#ans {
    font-size: 50px;
}

.external {
    width: 175px;
    border-radius: 16px;
}

#externalBtn {
    display: flex;
    margin-bottom: 10px;
}