body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
}

.calculator {
    background-color: #6d6d6d;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 800px;
}

#display {
    display: flex;
    width: auto;
}